/* http://stackoverflow.com/questions/8357058/how-to-make-a-href-link-look-like-a-button */
a.button {
    display: block;
    width: 115px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

div.inner {
	position: absolute;
	top: 50%;
	height: 50%;
}

#bground {
	background-image: url('/static/images/background-stars.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	position: absolute;
	width: 100%;
	height: 100%;
}