{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src="/static/js/asteroids.js"></script>
  <div id="container"></div>

  <div id="info">
    <strong><a href="http://www.chromeexperiments.com/globe">WebGL Globe</a></strong> <span class="bull">&bull;</span> Created by the Google Data Arts Team , Used by Thang Le<span class="bull">&bull;</span> Data acquired from <a href="https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh">NASA</a>
  </div>

  <div id="currentInfo">
    <span id="mass0" class="mass">< 10</span>
    <span id="mass10" class="mass">[10, 100]</span>
    <span id="mass100" class="mass">>100</span>
  </div>

  <div id="liveAsteroid">
    <div id="asteroidInformation"></div>
  </div>

  <div id="title">
    Locations of landed meteorites
  </div>

  <a id="ce" href="http://www.chromeexperiments.com/globe">
    <span>This is a Chrome Experiment</span>
  </a>

  <script type="text/javascript" src="/static/js/globe/third-party/Detector.js"></script>
  <script type="text/javascript" src="/static/js/globe/third-party/three.min.js"></script>
  <script type="text/javascript" src="/static/js/globe/third-party/Tween.js"></script>
  <script type="text/javascript" src="/static/js/globe/globe.js"></script>
  <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">

  // get asteroids information
  NearAsteroids.getAsteroid();

  window.setInterval(function() {
    $("#asteroidInformation").fadeOut(2500, function() {
      NearAsteroids.writeInformation();
      $("#asteroidInformation").fadeIn(2500);
    });
  }, 20000);

  if(!Detector.webgl){
    Detector.addGetWebGLMessage();
  } else {

    var masses = ['0','10','100'];
    var container = document.getElementById('container');
    var globe = new DAT.Globe(container, {imgDir: "/static/images/"});

    console.log(globe);
    var i, tweens = [];

    var settime = function(globe, t) {
      return function() {
        new TWEEN.Tween(globe).to({time: t/masses.length},500).easing(TWEEN.Easing.Cubic.EaseOut).start();
        var y = document.getElementById('mass'+masses[t]);
        if (y.getAttribute('class') === 'mass active') {
          return;
        }
        var yy = document.getElementsByClassName('mass');
        for(i=0; i<yy.length; i++) {
          yy[i].setAttribute('class','mass');
        }
        y.setAttribute('class', 'mass active');
      };
    };

    for(var i = 0; i<masses.length; i++) {
      var y = document.getElementById('mass'+masses[i]);
      y.addEventListener('mouseover', settime(globe,i), false);
    }

    var xhr;
    TWEEN.start();


    xhr = new XMLHttpRequest();
    xhr.open('GET', 'static/data/data2.json', true);
    xhr.onreadystatechange = function(e) {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
          window.data = data;
          for (i=0;i<data.length;i++) {
            globe.addData(data[i][1], {format: 'magnitude', name: data[i][0], animated: true});
          }
          globe.createPoints();
          settime(globe,0)();
          globe.animate();
            document.body.style.backgroundImage = 'none'; // remove loading
          }
        }
      };
      xhr.send(null);
    }

  </script>
{% endblock %}
